## Python Basic Programming Exercises

Q1: What is the output of following expression
5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Step wise calculation :-

In [ ]:
5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5 + 4 * 9 % 4 / 6 - 1

4.0

In [5]:
5 + 36 % 4 / 6 - 1

4.0

In [6]:
5 + 0 / 6 - 1

4.0

In [1]:
5 + 0.0 - 1

4.0

In [2]:
5.0-1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [4]:
num = int(input("Hi please input a valid number "))
if (num % 2 == 0):
    print("The given number is even")
else:
    print("The given number is odd")

Hi please input a valid number 8
The given number is even

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [5]:
num_mul_tbl = int(input("Hi please input a valid number "))
for i in range(1,11):
   print(i*num_mul_tbl)

Hi please input a valid number 12
12
24
36
48
60
72
84
96
108
120

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [6]:
for i in range(2000,3201):
    if(i%7==0)& (i%5!=0):
        print(i,end=",")
print('\b')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [7]:
# comma-separated sequence on a single line, using list
l=[]
for i in range(2000,3201):
    if ((i%7==0) & (i%5!=0)):
        l.append(str(i))
','.join(l)

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [8]:
l =   [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [9]:
count_int = 0
count_str = 0
count_bool = 0
count_float = 0
count_other = 0
for i in l:
    if(type(i) == int):
        count_int += 1
    elif(type(i) == str):
        count_str += 1
    elif(type(i) == bool):
        count_bool += 1
    elif(type(i) == float):
        count_float += 1
    else:
        count_other += 1
        
print("The count of integers is",count_int)
        
print("The count of string is",count_str)
        
print("The count of boolean is",count_bool)
        
print("The count of float is",count_float)
        
print("The count of none type is",count_other)

The count of integers is 5
The count of string is 4
The count of boolean is 1
The count of float is 1
The count of none type is 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [10]:
add_num = 0
for i in l:
    if((type(i) == int)|(type(i) == float)):
        add_num += i
print('Sum of numerical values: ',add_num)

Sum of numerical values:  21.5

In [19]:
# USING LIST COMPREHENSION

sum([ i for i in l if((type(i) == int)|(type(i) == float))])

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [16]:
for i in l:
    if(type(i) == str):
        print(i,end='-')
print('\b')

Py-10-SQL-John-

In [11]:
# USING LIST & .APPEND
s=[]
for i in l:
    if(type(i) == str):
        s.append(i)
'-'.join(s)

'Py-10-SQL-John'

In [22]:
# USING LIST COMPREHENSION

'-'.join([i for i in l  if(type(i) == str)])

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [35]:
# Function using global variable
sum_num = 0
cnt_str = 0
def my_func(l):
    global sum_num, cnt_str
    for i in l:
        if (type(i)==int or type(i)==float):
            sum_num = sum_num+i
        elif (type(i)== str):
            cnt_str+=1
    print('Sum of all numbers :',sum_num)
    print('Count_of_String :',cnt_str)

In [36]:
my_func(l)

Sum of all numbers : 21.5
Count_of_String : 4

In [39]:
# using simple method
def my_func(l):
    sum_num = 0
    cnt_str = 0
    for i in l:
        if (type(i)==int or type(i)==float):
            sum_num = sum_num+i
        elif (type(i)== str):
            cnt_str+=1
    print('Sum of all numbers :',sum_num)
    print('Count_of_String :',cnt_str)

In [40]:
my_func(l)

Sum of all numbers : 21.5
Count_of_String : 4

In [67]:
def my_funct(l):
    s=0
    c=0
    for i in l:
        if ((type(i)== int )or(type(i)== float )):
            s=s+i
        elif (type(i)== str):
            c=c+1
    return {'sum':s,'count':c}

In [68]:
my_funct(l)

{'sum': 21.5, 'count': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [16]:
# Using loops

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_li =[]
for i in li:
    if i%2!=0:
        odd_li.append(i)
print(odd_li)

[5, 7, 97, 77, 23, 73, 61]

In [72]:
# Using List Comprehension and storing in new list

[i for i in li  if i%2!=0 ]

[5, 7, 97, 77, 23, 73, 61]

In [18]:
# Using lambda function with filter

list(filter(lambda x : x%2!=0, li))

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [13]:

def desc_stats(*num):
    sum1 = 0
    count = 0
    for i in num:
        sum1 = sum1+i
        count = count+1
        mean = sum1/count
    print('sum =',sum1)
    print('count =',count)
    print('mean =',mean)
    print('Min', min(num))
    print('Max',max(num))

In [14]:
desc_stats(15,64,22,30,14,51,26,41,62,32,57)

sum = 414
count = 11
mean = 37.63636363636363
Min 14
Max 64

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [128]:
def area_diff_shapes(shape,**shape_args):
    print(type(shape_args))
    print(shape_args)
    print(shape_args.keys())
    print(shape_args.values())
    if shape == 'square':
        if 'side' in shape_args.keys():
            area = shape_args['side']*shape_args['side']
            return area
        else:
            print("please enter valid side argument for square")
    elif shape == 'rectangle':
        if 'length' in shape_args.keys() and 'breadth' in shape_args.keys():
            area = shape_args['length']*shape_args['breadth']
            return area
        else:
            print("please enter valid length and breadth arguments for rectangle")
    elif shape == 'circle':
        if 'radius' in shape_args.keys():
            area = 3.14*shape_args['radius']**2
            return area
    else:
        print("These calculation are supported for square, rectangle and circle only")

In [130]:
area_diff_shapes(shape='rectangle', length=15,breadth = 2)

<class 'dict'>
{'length': 15, 'breadth': 2}
dict_keys(['length', 'breadth'])
dict_values([15, 2])

30

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [29]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

In [81]:
def func(l1,l2):
    l1 = set(l1)
    l2 = set(l2)
    
    return {'Matched': list(l1.intersection(l2)), 'Only in l1': list(l1.difference(l2)) , 'Only in l2': list(l2.difference(l1))}

In [82]:
func(l1,l2)

{'Matched': ['June', 'January', 'December', 'February'],
 'Only in l1': ['March', 'May', 'September'],
 'Only in l2': ['October', 'April']}

Q13: write a UDF to check if a number is prime or not.

In [154]:

def prime_check(num):
    flag = False
    
    if num == 1:
        print(num,"is not prime number")
    elif num > 1:
             # check for factors
            for i in range(2, num):
                if (num % i == 0):
                    # if factor is found, set flag to true
                    flag = True
                    # break out of the loop
                    break
        
            # check if flag is true
            if flag:
                print(num,"is not prime number")
            else:
                print(num,"is a prime number")

In [157]:
prime_check(8)

8 is not prime number

In [96]:
def prime_or_not(n):
    for i in range(2,round(n/2)+1):
        if (n%i == 0):
            return "not prime"
    return 'prime'

In [97]:
prime_or_not(2)

'prime'

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [80]:
num = int(input("Enter a number :"))
f=1
if (num==0) | (num==1):
    print("The factorial of",num,'is',1)
elif(num<0):
    print('Factorial is not possible')
else:
    for i in range(1,num+1):
        f=f*i
    print("The factorial of",num,'is',f)

Enter a number :5
The factorial of 5 is 120

In [61]:
# using user defined function

def factorial(n):
    if (n==0) | (n==1):
        return 1
    if(n<0):
        return 'Factorial is not possible'
    f=1
    for i in range(1,n+1):
        f*=i
    return f

In [65]:
factorial(-9)

'Factorial is not possible'

## Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [25]:
num = int(input('Enter a number : '))
d = dict()
for i in range(1,num+1):
    d[i]=i*i

print(d)

Enter a number : 15
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [83]:
comma_sepa = input("Enter comma separated numbers :")
list_1 = comma_sepa.split(",")
tuple_1 = tuple(list_1)
print('List :',list_1)
print('Tuple :',tuple_1)

Enter comma separated numbers :34,67,55,33,12,98
List : ['34', '67', '55', '33', '12', '98']
Tuple : ('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [88]:
words = input('Enter comma separated sequence of words :')
l_1 = words.split(',')
l_1.sort()
','.join(l_1)

Enter comma separated sequence of words :without,hello,bag,world

'bag,hello,without,world'

In [22]:
# by sir

items=[x for x in input().split(',')]
items.sort()
','.join(items)

without,hello,bag,world

'bag,hello,without,world'

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [94]:
word = input('Enter sequence of whitespace separated words: ')
s = set(word.split(' ')) # removing duplicates   # .split - Tokenization - splitting sentence into words
l = list(s)   # converting set into list 
l.sort()   # sorting in ascending order
' '.join(l)  # concatenating the list values with space separation

Enter sequence of whitespace separated words: hello world and practice makes perfect and hello world again

'again and hello makes perfect practice world'

In [26]:
word = input('Enter sequence of whitespace separated words: ')
s = list(set(word.split(' ')))
s.sort()
" ".join(s)

Enter sequence of whitespace separated words: hello world and practice makes perfect and hello world again

'again and hello makes perfect practice world'

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [93]:
name = input('Enter a sentence:')
upper = 0
lower = 0
for i in name:
    print(i)  
    if(i.isupper()):
        upper = upper+1
    elif(i.islower()):
        lower = lower+1
print('UPPER CASE',upper,'LOWER CASE',lower)

Enter a sentence:Hello world!
H
e
l
l
o

w
o
r
l
d
!
UPPER CASE 1 LOWER CASE 9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [4]:
string_input = input('Enter a string : ')
print("Reversed String :",string_input[::-1])

Enter a string : abcd123
Reversed String : 321dcba